body {
    text-align: center;
    background-color: #a8befc;
  }
  
  h1 {
    font-size: 5rem;
    color: #1b0236;
    font-family: cursive;
    text-shadow: 3px 0 #3b071f;
  
  }
  
  .w {
    background-image: url("images/tom1.png");
  }
  
  .a {
    background-image: url("images/tom2.png");
  }
  
  .s {
    background-image: url("images/tom3.png");
  }
  
  .d {
    background-image: url("images/tom4.png");
  }
  
  .j {
    background-image: url("images/snare.png");
  }
  
  .k {
    background-image: url("images/crash.png");
  }
  
  .l {
    background-image: url("images/kick.png");
  }
  
  .set {
    margin: 10% auto;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .drum {
    outline: none;
    border: 10px solid #2f3441;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #0e0244;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: #a8befc;
  }